<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#00adb5" />
    <meta name="description" content="Web portal designed to host resume/cv.">
    <link rel='manifest' href='/manifest.json'>
    <link rel="icon" type="image/png" href="/images/Icon-512.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <title><%=pageTitle%></title>
</head>

<body class="animated fadeIn">
    <% if(pageTitle != "My Resume"){ %>
    <div class="navbar-fixed">
        <nav class="navcustom">
            <div class="row">
                <div class="col s3 hide-on-small-only show-on-medium-and-up">
                </div>
                <div class="col s12 m9 ">
                    <div class="nav-wrapper">
                        <a href="#" data-target="slide-out" class="sidenav-trigger"><i
                                class="material-icons">menu</i></a>
                        <a href="/index" class="brand-logo center black-text">Resumee</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <% } %>