<%- include ("./partials/header") %>
<div class="container cover">
    <div class="row">
        <div class="col s4"></div>
        <div class="col s12 l4 center">
            <div class="card-panel bs" style="border-radius: 5px">
                <h3 class="white-text">Resumee</h3>
                <p></p>
                <div class="row">
                <a class="col s12 waves-effect waves-light btn btn-large modal-trigger bbs" style="border-radius: 20px" href="#modal1">Login</a>
                </div>
                <div class="row">
                <a class="col s12 waves-effect waves-light btn btn-large modal-trigger bbs" style="border-radius: 20px" href="#modal2">SignUp</a>
                </div>
                <div class="row">
                <a class="col s12 waves-effect waves-light btn btn-large modal-trigger bbs" style="border-radius: 20px" href="#modal3">Install</a>
                </div>
      </div>
              <div class="col s4"></div>

        </div>
    </div>
</div>
<div id="modal3" class="modal" style="border-radius:10px">
    <div class="modal-content bbs">
      <h4>Progressive Web App Installation</h4>
      <p>Proceed to install PWA on your device.</p>
      <a onclick="install()" class="modal-close waves-effect waves-light btn">INSTALL PWA</a>
    </div>
  </div>
<script src="/scripts/pwainstall.js"></script>
<script src="/pwabuilder-sw-register.js"></script>
<%- include ("./partials/login-register") %>
<%- include ("./partials/footer") %>