<%- include ("./partials/header") %>
<div class="container cover">
    <div class="row">
        <div class="col s4"></div>
        <div class="col s12 l4 center">
            <div class="card-panel teal">
                <h3>Resumee</h3>
                <p></p>
                <div class="row">
                <a class="col s12 waves-effect waves-light btn btn-large modal-trigger" href="#modal1">Login</a>
                </div>
                <div class="row">
                <a class="col s12 waves-effect waves-light btn btn-large modal-trigger" href="#modal2">SignUp</a>
                </div>
                <div class="row">
                <a class="col s12 waves-effect waves-light btn btn-large modal-trigger" href="#modal2">Install</a>
                </div>
      </div>
              <div class="col s4"></div>

        </div>
    </div>
</div>

<%- include ("./partials/login-register") %>
<%- include ("./partials/footer") %>