#customdiv1 {
    display: none;
}

#customdiv2 {
    display: none;
}

#customdiv3 {
    display: none;
}

#customdiv4 {
    display: none;
}

.navcustom {
    background-color: #00adb5
}

body {
    background-color: #eeeeee
}

.sidenav {
    background-color: #00adb5
}

.sidenavlist {
    background-color: #00adb5
}

.customcard {
    /*background-color: #2A1E5C*/
    background-image: linear-gradient(to bottom right, #222831, #393e46);
}

.mybody {
    background-color: #FBFBFB
}

.cover {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.cb {
    border-radius: 20px
}

.gs {
    background-color: #393e46
}

.bs {
    background-color: #222831
}

.ws {
    background-color: #eeeeee
}

.bbs {
    background-color: #00adb5
}
