<form>
<div id="customdiv1">
    <div class="row">
        <!--<div class="col s1">-->
        <!--    <h5>#</h5>-->
        <!--</div>-->
        <div class="col s12">
            <div class="card-panel animated slideInUp">
            <div class="input-field">
                <input id="projecttitle" type="text" name="projecttitle" class="validate">
                <label for="projecttitle">Title</label>
            </div>
            <div class="input-field">
                <textarea id="textarea1" name="projectdescription" class="materialize-textarea"></textarea>
                <label for="textarea1">Textarea</label>
            </div>
            <div class="input-field">
                <input id="projecturl" type="url" name="projecturl" class="validate">
                <label for="projecturl">Link (Optional): https://www...</label>
            </div>
            <div class="input-field">
                <input id="projectstartdate" type="text" name="projectstartdate" class="datepicker">
                <label for="projectstartdate">Start Date:</label>
            </div>
            <div class="input-field">
                <input id="projectenddate" type="text" name="projectenddate" class="datepicker">
                <label for="projectenddate">End Date:</label>
            </div>
            <a onclick="deletion(0)" class="waves-effect waves-light btn">Delete</a>
            </div>
        </div>
    </div>
</div>
</form>