<div id="customdiv4">
                            <div class="row">
                               
                                <div class="col s12">
                                    <div class="card-panel animated slideInUp">
                                    <div class="input-field">
                                        <input id="skilltitle" type="text" name="skilltitle" class="validate">
                                        <label for="skilltitle">Skill</label>
                                    </div>
                                    <a onclick="deletion(3)" class="waves-effect waves-light btn">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>