<div id="customdiv3">
                            <div class="row">
                                
                                <div class="col s12">
                                    <div class="card-panel animated slideInUp">
                                    <div class="input-field">
                                        
                                        <input id="certificationeducationtitle" type="text" name="certificationtitle"
                                            class="validate">
                                        <label for="certificationeducationtitle">Certification Field/Course
                                            Name</label>
                                    </div>
                                    <div class="input-field">
                                        <textarea id="textarea3" name="certificationdescription"
                                            class="materialize-textarea"></textarea>
                                        <label for="textarea3">Outcome</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="certificationlink" type="url" name="certificationurl"
                                            class="validate">
                                        <label for="certificationlink">Link to Certificate (Optional):
                                            https://www...</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="certificationstartdate" type="text" name="certificationstartdate"
                                            class="datepicker">
                                        <label for="certificationstartdate">Start Date:</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="certificationenddate" type="text" name="certificationenddate"
                                            class="datepicker">
                                        <label for="certificationenddate">End Date:</label>
                                    </div>
                                    <a onclick="deletion(2)" class="waves-effect waves-light btn">Delete</a>
                                    </div>
                                </div>
                            </div>

                        </div>