<div id="customdiv2">
                            <div class="row">
                                
                                <div class="col s12">
                                    <div class="card-panel animated slideInUp">
                                    <div class="input-field">
                                        <input id="educationtitle" type="text" name="educationtitle" class="validate">
                                        <label for="educationtitle">Title</label>
                                    </div>
                                    <div class="input-field">
                                        <textarea id="textarea2" name="educationdescription"
                                            class="materialize-textarea"></textarea>
                                        <label for="textarea2">Textarea</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="educationlink" type="url" name="educationurl" class="validate">
                                        <label for="educationlink">Link (Optional): https://www...</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="educationstartdate" type="text" name="educationstartdate"
                                            class="datepicker">
                                        <label for="educationstartdate">Start Date:</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="educationenddate" type="text" name="educationenddate"
                                            class="datepicker">
                                        <label for="educationenddate">End Date:</label>
                                    </div>
                                    <a onclick="deletion(1)" class="waves-effect waves-light btn">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>